<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/fontawesome-free-6.5.2-web/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/swiper-bundle.css">
    <link rel="stylesheet" href="./assets/css/jquery.fancybox.css">
    <link rel="stylesheet" href="./assets/css/output.css">
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <header id="header" class="sticky top-0 z-30 shadow-2xl">
        <div class="bg-[#76A021] hidden lg:block">
            <div class="container flex items-center justify-between py-[8px] px-[8px] md:px-[16px] xl:px-0">
                <a href="tel:0974237890" class="text-white leading-[137.5%] font-normal">Hotline: <span class="font-bold">0974 23 7890</span></a>
                <form class="relative">
                    <input type="text" class="w-[400px] bg-transparent border-[1px] border-solid border-white rounded-[32px] px-[12px] py-[6px] outline-none text-white text-[14px] placeholder:text-[#f5f5f5]" placeholder="Nhập từ khoá tìm kiếm...">
                    <button type="submit" class="absolute top-[50%] translate-y-[-50%] right-[12px] text-white"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
                <div class="flex items-center gap-[16px]">
                    <button class="login text-[14px] font-bold px-[16px] py-[8px] bg-white transition-all duration-300 ease-linear hover:bg-[#FFD700]">Đăng nhập</button>
                    <button class="register text-[14px] font-bold px-[16px] py-[8px] bg-[#FFD700] transition-all duration-300 ease-linear hover:bg-white">Đăng ký</button>
                </div>
            </div>
        </div>
        <div class="bg-[#fff]">
            <div class="container flex items-center justify-between py-[8px] px-[8px] md:px-[16px] xl:px-0">
                <div class="lg:hidden">
                    <button class="text-[24px]" onclick="handleOpenMenu()"><i class="fa-solid fa-bars"></i></button>
                    <div class="overlay fixed top-0 left-0 right-0 bottom-0 bg-black/30 translate-x-[100%] opacity-0 ease-linear duration-300 transition-all z-[19]"></div>
                    <div class="menu-mobile fixed top-0 left-0 bottom-0 w-[320px] bg-white z-20 px-[16px] py-[42px] translate-x-[-100%] opacity-0 ease-linear duration-300 transition-all">
                        <button class="close-menu-mobile text-[24px] px-[12px] py-[9px] text-[#76A021] absolute top-0 right-0 flex"><i class="fa-solid fa-xmark"></i></button> 
                        <div class="flex items-start justify-center mb-[12px]">
                            <img src="./assets/images/Logo.png" alt="Logo" class="max-w-[100px]">
                        </div>
                        <div class="relative mb-[12px]">
                            <input type="text" class="bg-transparent w-full border-[1px] border-solid border-[#76A021] rounded-[32px] px-[12px] py-[6px] outline-none text-[#76A021] text-[14px] placeholder:text-[#76A021]" placeholder="Nhập từ khoá tìm kiếm...">
                            <button class="absolute top-[50%] translate-y-[-50%] right-[12px] text-[#76A021]"><i class="fa-solid fa-magnifying-glass"></i></button>
                        </div>
                        <ul>
                            <li><a href="" >Trang chủ</a></li>
                            <li><a href="" >Giới thiệu</a></li>
                            <li><a href="" >Hồ sơ năng lực</a></li>
                            <li><a href="" >Sản phẩm</a></li>
                            <li><a href="" >Tin tức</a></li>
                            <li><a href="" >Liên hệ</a></li>
                        </ul>
                        <div class="flex items-center justify-center gap-[16px] mt-[12px]">
                            <button class="login text-[14px] font-bold px-[16px] py-[8px] bg-[#76A021] text-white">Đăng nhập</button>
                            <button class="register text-[14px] font-bold px-[16px] py-[8px] bg-[#FFD700]">Đăng ký</button>
                        </div>
                    </div>
                </div>
                <router-link to="/" class="inline-block max-w-[74px]"><img src="./assets/images/Logo.png" alt="Logo"></router-link>
                <div class="menu hidden lg:block">
                    <ul>
                        <li><a href="" >Trang chủ</a></li>
                        <li><a href="" >Giới thiệu</a></li>
                        <li><a href="" >Hồ sơ năng lực</a></li>
                        <li><a href="" >Sản phẩm</a></li>
                        <li><a href="" >Tin tức</a></li>
                        <li><a href="" >Liên hệ</a></li>
                    </ul>
                </div>
                <div class="relative cursor-pointer">
                    <i class="fa-solid fa-cart-shopping text-[20px]"></i>
                    <p class="absolute top-[-12px] left-[-12px] w-[24px] h-[24px] bg-[#76A021] rounded-full text-white flex items-center justify-center">0</p>
                </div>
            </div>
        </div>
        <button class="back-to-top fixed z-[20] bottom-[30px] right-[20px] text-[24px] bg-white text-[#FFD700] w-[40px] h-[40px] hidden items-center justify-center rounded-full border-[1px] border-solid border-[#FFD700]"><i class="fa-solid fa-arrow-up"></i></button>
    </header>
    <main>
        <section class="compo-banner">
            <div><img src="./assets/images/banner.webp" alt="" class="w-full h-full object-cover"></div>
            <div class="p-[8px] bg-[#dedede]">
                <div class="container">
                    <div class="breadcrumb flex items-center">
                        <a href="/" class="flex md:mr-[8px] mr-[4px]">
                            <span class="font-normal leading-[137.5%] mr-[4px] hover:text-[#76A021] transition-all duration-300 ease-linear">Trang chủ</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#FFD700">
                                <path d="M13 17L18 12L13 7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M6 17L11 12L6 7" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                        <span class="text-[#76A021] font-normal leading-[137.5%]">Sản phẩm 1</span>
                    </div>
                </div>
            </div>
        </section>
        <div class="container px-[8px] md:px-[16px] 2xl:px-0 2xl:pb-[80px] lg:pb-[60px] md:pb-[40px] pb-[30px] md:pt-[40px] pt-[30px]">
            <div class="block lg:grid grid-cols-10 gap-[30px]">
                <div class="compo-slide xl:col-span-3 lg:col-span-4 mb-[12px] md:mb-[16px] lg:mb-0">
                    <div class="swiper detail-product-2 mb-[6px]">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <a href="./assets/images/pro-detail-1.jpg" data-fancybox="gallery" class="block relative pt-[78%]">
                                <img src="./assets/images/pro-detail-1.jpg" class="absolute top-0 left-0 w-[100%] h-[100%] object-cover" />
                            </a>
                          </div>
                          <div class="swiper-slide">
                            <a href="./assets/images/pro-detail-2.jpg" data-fancybox="gallery" class="block relative pt-[78%]">
                                <img src="./assets/images/pro-detail-2.jpg" class="absolute top-0 left-0 w-[100%] h-[100%] object-cover" />
                            </a>
                          </div>
                        </div>
                      </div>
                      <div thumbsSlider="" class="swiper detail-product">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide border-[2px] border-solid relative pt-[25%] md:pt-[15%] lg:pt-[20%] cursor-pointer">
                            <img src="./assets/images/pro-detail-1.jpg" class="absolute top-0 left-0 w-[100%] h-[100%] object-cover" />
                          </div>
                          <div class="swiper-slide border-[2px] border-solid relative pt-[25%] md:pt-[15%] lg:pt-[20%] cursor-pointer">
                            <img src="./assets/images/pro-detail-2.jpg" class="absolute top-0 left-0 w-[100%] h-[100%] object-cover" />
                          </div>
                        </div>
                      </div>
                </div>
                <div class="xl:col-span-5 lg:col-span-6">
                    <div v-if="product">
                        <h3 class="text-[18px] md:text-[20px] lg:text-[24px] font-semibold leading-[130%] mb-[8px] md:mb-[12px]">Tên sản phẩm</h3>
                        <div class="flex items-center gap-[20px] md:gap-[30px] lg:gap-[40px] mb-[12px] md:mb-[16px] lg:md-[20px]">
                            <div>
                                <span class="text-[#935E10] text-[14px] md:text-[16px] font-normal">Còn hàng</span>
                                <!-- <span class="text-[#ff5047] text-[14px] md:text-[16px] font-normal">Hết hàng</span> -->
                            </div>
                            <div class="flex items-center gap-[4px]">
                                <span class="text-[14px] md:text-[16px] font-normal">Đã bán:</span>
                                <p class="text-[14px] md:text-[16px] font-semibold">100</p>
                            </div>
                            <div class="flex items-center gap-[4px]">
                                <span class="text-[14px] md:text-[16px] font-normal">Tồn kho:</span>
                                <p class="text-[14px] md:text-[16px] font-semibold">20</p>
                                <!-- <p class="text-[14px] md:text-[16px] font-semibold">0</p> -->
                            </div>
                        </div>
                        <div v-if="product.sizeAndPrice && activeIndex !== null && product.sizeAndPrice.length > activeIndex">
                            <div class="flex items-center gap-[8px] lg:gap-[12px] mb-[12px] md:mb-[16px] lg:md-[20px]">
                                <p class="text-[#FF6347] text-[18px] md:text-[22px] lg:text-[26px] font-semibold">900.000đ</p>
                                <p class="text-[14px] md:text-[16px] lg:text-[18px] text-[#D3D3D3] line-through">1.000.000đ</p>
                            </div>
                            <!-- <div v-else>
                                <p class="text-[#FF6347] text-[18px] md:text-[22px] lg:text-[26px] font-semibold mb-[20px]">{{ formatPrice(product.sizeAndPrice[activeIndex].price) }}</p>
                            </div> -->
                        </div>
                        <!-- <div v-else>Loading</div> -->
                        <div class="md:flex items-center gap-[12px] md:gap-[20px] mb-[12px] md:mb-[16px]">
                            <span class="text-[14px] md:text-[16px] font-normal min-w-[100px] mb-[4px] md:mb-0">Kích thước:</span>
                            <div class="flex items-center gap-[12px] md:gap-[20px]">
                                <button class="button-size text-[14px] md:text-[16px] font-normal px-[10px] py-[4px] border-[1px] border-solid border-[#76A021] rounded-[4px] active">1M x 2M</button>
                                <button class="button-size text-[14px] md:text-[16px] font-normal px-[10px] py-[4px] border-[1px] border-solid border-[#76A021] rounded-[4px]">1.6M x 2M</button>
                                <button class="button-size text-[14px] md:text-[16px] font-normal px-[10px] py-[4px] border-[1px] border-solid border-[#76A021] rounded-[4px]">1.8M x 2M</button>
                            </div>
                        </div>
                        <div class="flex items-center gap-[20px] mb-[16px]">
                            <span class="text-[14px] md:text-[16px] font-normal md:min-w-[100px]">Số lượng:</span>
                            <div class="inline-flex items-center border-[1px] border-solid border-[#76a021] rounded-[20px] px-[6px] py-[4px]">
                                <div @click="decreaseValue" class="w-[30px] h-[30px] text-[16px] flex items-center justify-center cursor-pointer"><i class="fa-solid fa-minus"></i></div>
                                <input type="text" value="1" min="1" :max="product.sizeAndPrice[activeIndex].inventory" class="text-center w-[50px] border-l-[1px] border-r-[1px] border-solid border-[#76a021]" />
                                <div @click="increaseValue" class="w-[30px] h-[30px] text-[16px] flex items-center justify-center cursor-pointer"><i class="fa-solid fa-plus"></i></div>
                            </div>
                        </div>
                        <div class="flex items-center gap-[12px] md:gap-[20px]" v-if="product.sizeAndPrice[activeIndex].inventory > 0">
                            <button class="text-[14px] md:text-[16px] font-semibold text-[#76a021] px-[16px] py-[8px] border-[1px] border-solid border-[#76a021] rounded-[5px] hover:bg-[#76a021] hover:text-[white] transition-all duration-300 ease-linear" @click="handleAddCart">Thêm vào giỏ hàng</button>
                            <button class="text-[14px] md:text-[16px] font-semibold bg-[#76a021] text-[white] px-[16px] py-[8px] border-[1px] border-solid border-[#76a021] rounded-[5px] hover:bg-white hover:text-[#76a021] transition-all duration-300 ease-linear" @click="handleBuyNow">Mua ngay</button>
                        </div>
                        <!-- <div v-else>
                            <a href="tel:0974 23 7890" class="block text-center text-[14px] md:text-[16px] font-semibold bg-[#76a021] text-[white] px-[16px] py-[8px] border-[1px] border-solid border-[#76a021] rounded-[5px] hover:bg-white hover:text-[#76a021] transition-all duration-300 ease-linear">Liên hệ</a>
                        </div> -->
                    </div>
                </div>
                <div class="commit grid grid-cols-2 lg:grid-cols-1 xl:col-span-2 lg:col-span-4 lg:gap-[10px] gap-[8px] mt-[10px] lg:mt-0">
                    <div class="flex flex-col xl:flex-row items-center gap-[10px] xl:mb-[10px] last:mb-0">
                        <div class="w-[40px] h-[40px] flex items-center justify-center bg-[#76A021] rounded-[10px]">
                            <img src="./assets/images/icon-cam-ket.png" alt="" class="">
                        </div>
                        <p class="text-[16px] font-normal text-center xl:text-left">Cam kết hàng chính hãng</p>
                    </div>
                    <div class="flex flex-col xl:flex-row items-center gap-[10px] xl:mb-[10px] last:mb-0">
                        <div class="w-[40px] h-[40px] flex items-center justify-center bg-[#76A021] rounded-[10px]">
                            <img src="./assets/images/icon-cam-ket.png" alt="" class="">
                        </div>
                        <p class="text-[16px] font-normal text-center xl:text-left">Cam kết hàng chính hãng</p>
                    </div>
                    <div class="flex flex-col xl:flex-row items-center gap-[10px] xl:mb-[10px] last:mb-0">
                        <div class="w-[40px] h-[40px] flex items-center justify-center bg-[#76A021] rounded-[10px]">
                            <img src="./assets/images/icon-cam-ket.png" alt="" class="">
                        </div>
                        <p class="text-[16px] font-normal text-center xl:text-left">Cam kết hàng chính hãng</p>
                    </div>
                    <div class="flex flex-col xl:flex-row items-center gap-[10px] xl:mb-[10px] last:mb-0">
                        <div class="w-[40px] h-[40px] flex items-center justify-center bg-[#76A021] rounded-[10px]">
                            <img src="./assets/images/icon-cam-ket.png" alt="" class="">
                        </div>
                        <p class="text-[16px] font-normal text-center xl:text-left">Cam kết hàng chính hãng</p>
                    </div>
                </div>
            </div>
            <div class="border-[1px] border-solid border-[#e7e7e7] rounded-[4px] overflow-hidden mt-[12px] md:mt-[20px]">
                <div class="tab-title-wrap bg-[#e7e7e7] flex gap-[4px]">
                    <button class="tab-button uppercase text-[14px] md:text-[16px] font-semibold px-[8px] md:px-[16px] py-[4px] md:py-[8px] border-t-[4px] border-solid border-transparent transition-all duration-300 ease-linear hover:text-[#76a021] hover:bg-white hover:border-[#76a021]" data-tab="detail">Thông tin chi tiết</button>
                    <button class="tab-button uppercase text-[14px] md:text-[16px] font-semibold px-[8px] md:px-[16px] py-[4px] md:py-[8px] border-t-[4px] border-solid border-transparent transition-all duration-300 ease-linear hover:text-[#76a021] hover:bg-white hover:border-[#76a021]" data-tab="proDes">Mô tả sản phẩm</button>
                </div>
                <div class="tab-content-wrap">
                    <div class="tab-content px-[10px] py-[16px]" id="detail">{{ detail }}</div>
                    <div class="tab-content px-[10px] py-[16px]" id="proDes">{{ proDes }}</div>
                </div>
            </div>
            <div class="compo-relate mt-[12px] md:mt-[20px]">
                <div class="md:flex items-center justify-between mb-[12px] md:mb-[16px] lg:mb-[24px]">
                    <h3 class="text-[24px] md:text-[28px] lg:text-[36px] font-semibold text-[#76A021] mb-[8px] md:mb-0">Sản phẩm khuyến mại</h3>
                </div>
                <div class="swiper relate-slide">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="pro-item bg-white rounded-[4px] overflow-hidden">
                                <div class="pro-img w-full relative pb-[80%] overflow-hidden">
                                    <a href="#" class="absolute top-0 left-0 w-full h-full"><img src="./assets/images/pro-detail-1.jpg" alt="" class="w-full h-full object-cover"></a>
                                    <p class="absolute top-[10px] right-[10px] w-[40px] h-[40px] bg-[#d80027] text-white rounded-full flex items-center justify-center">15%</p>
                                    <button class="absolute top-[-60px] left-[10px] w-[40px] h-[40px] bg-[#76A021] text-white flex items-center justify-center rounded-full border-[1px] border-solid border-[#76A021] hover:bg-white hover:text-[#76A021]"><i class="fa-solid fa-cart-plus"></i></button>
                                </div>
                                <div class="p-[8px] md:p-[12px] lg:p-[16px]">
                                    <a href="#" class="text-[16px] font-semibold line-clamp-2 hover:text-[#76A021] transition-all duration-300 ease-linear mb-[8px]">Chăn ga khách sạn 1</a>
                                    <div class="md:flex items-center gap-[8px] lg:gap-[12px]">
                                        <p class="text-[#FF6347] text-[18px] font-semibold mb-[4px] md:mb-0">900.000đ</p>
                                        <p class="text-[14px] text-[#D3D3D3] line-through">1.000.000đ</p>
                                    </div>
                                    <!-- <p class="text-[#FF6347] text-[18px] font-semibold">{{ formatPrice(item.sizeAndPrice[0].price) }}</p> -->
                                    <div class="text-center lg:hidden mt-[12px]">
                                        <button class="bg-[#76A021] text-[14px] px-[10px] py-[8px] text-white">Thêm vào giỏ hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="pro-item bg-white rounded-[4px] overflow-hidden">
                                <div class="pro-img w-full relative pb-[80%] overflow-hidden">
                                    <a href="#" class="absolute top-0 left-0 w-full h-full"><img src="./assets/images/pro-detail-1.jpg" alt="" class="w-full h-full object-cover"></a>
                                    <p class="absolute top-[10px] right-[10px] w-[40px] h-[40px] bg-[#d80027] text-white rounded-full flex items-center justify-center">15%</p>
                                    <button class="absolute top-[-60px] left-[10px] w-[40px] h-[40px] bg-[#76A021] text-white flex items-center justify-center rounded-full border-[1px] border-solid border-[#76A021] hover:bg-white hover:text-[#76A021]"><i class="fa-solid fa-cart-plus"></i></button>
                                </div>
                                <div class="p-[8px] md:p-[12px] lg:p-[16px]">
                                    <a href="#" class="text-[16px] font-semibold line-clamp-2 hover:text-[#76A021] transition-all duration-300 ease-linear mb-[8px]">Chăn ga khách sạn 1</a>
                                    <div class="md:flex items-center gap-[8px] lg:gap-[12px]">
                                        <p class="text-[#FF6347] text-[18px] font-semibold mb-[4px] md:mb-0">900.000đ</p>
                                        <p class="text-[14px] text-[#D3D3D3] line-through">1.000.000đ</p>
                                    </div>
                                    <!-- <p class="text-[#FF6347] text-[18px] font-semibold">{{ formatPrice(item.sizeAndPrice[0].price) }}</p> -->
                                    <div class="text-center lg:hidden mt-[12px]">
                                        <button class="bg-[#76A021] text-[14px] px-[10px] py-[8px] text-white">Thêm vào giỏ hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="pro-item bg-white rounded-[4px] overflow-hidden">
                                <div class="pro-img w-full relative pb-[80%] overflow-hidden">
                                    <a href="#" class="absolute top-0 left-0 w-full h-full"><img src="./assets/images/pro-detail-1.jpg" alt="" class="w-full h-full object-cover"></a>
                                    <p class="absolute top-[10px] right-[10px] w-[40px] h-[40px] bg-[#d80027] text-white rounded-full flex items-center justify-center">15%</p>
                                    <button class="absolute top-[-60px] left-[10px] w-[40px] h-[40px] bg-[#76A021] text-white flex items-center justify-center rounded-full border-[1px] border-solid border-[#76A021] hover:bg-white hover:text-[#76A021]"><i class="fa-solid fa-cart-plus"></i></button>
                                </div>
                                <div class="p-[8px] md:p-[12px] lg:p-[16px]">
                                    <a href="#" class="text-[16px] font-semibold line-clamp-2 hover:text-[#76A021] transition-all duration-300 ease-linear mb-[8px]">Chăn ga khách sạn 1</a>
                                    <div class="md:flex items-center gap-[8px] lg:gap-[12px]">
                                        <p class="text-[#FF6347] text-[18px] font-semibold mb-[4px] md:mb-0">900.000đ</p>
                                        <p class="text-[14px] text-[#D3D3D3] line-through">1.000.000đ</p>
                                    </div>
                                    <!-- <p class="text-[#FF6347] text-[18px] font-semibold">{{ formatPrice(item.sizeAndPrice[0].price) }}</p> -->
                                    <div class="text-center lg:hidden mt-[12px]">
                                        <button class="bg-[#76A021] text-[14px] px-[10px] py-[8px] text-white">Thêm vào giỏ hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="pro-item bg-white rounded-[4px] overflow-hidden">
                                <div class="pro-img w-full relative pb-[80%] overflow-hidden">
                                    <a href="#" class="absolute top-0 left-0 w-full h-full"><img src="./assets/images/pro-detail-1.jpg" alt="" class="w-full h-full object-cover"></a>
                                    <p class="absolute top-[10px] right-[10px] w-[40px] h-[40px] bg-[#d80027] text-white rounded-full flex items-center justify-center">15%</p>
                                    <button class="absolute top-[-60px] left-[10px] w-[40px] h-[40px] bg-[#76A021] text-white flex items-center justify-center rounded-full border-[1px] border-solid border-[#76A021] hover:bg-white hover:text-[#76A021]"><i class="fa-solid fa-cart-plus"></i></button>
                                </div>
                                <div class="p-[8px] md:p-[12px] lg:p-[16px]">
                                    <a href="#" class="text-[16px] font-semibold line-clamp-2 hover:text-[#76A021] transition-all duration-300 ease-linear mb-[8px]">Chăn ga khách sạn 1</a>
                                    <div class="md:flex items-center gap-[8px] lg:gap-[12px]">
                                        <p class="text-[#FF6347] text-[18px] font-semibold mb-[4px] md:mb-0">900.000đ</p>
                                        <p class="text-[14px] text-[#D3D3D3] line-through">1.000.000đ</p>
                                    </div>
                                    <!-- <p class="text-[#FF6347] text-[18px] font-semibold">{{ formatPrice(item.sizeAndPrice[0].price) }}</p> -->
                                    <div class="text-center lg:hidden mt-[12px]">
                                        <button class="bg-[#76A021] text-[14px] px-[10px] py-[8px] text-white">Thêm vào giỏ hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="pro-item bg-white rounded-[4px] overflow-hidden">
                                <div class="pro-img w-full relative pb-[80%] overflow-hidden">
                                    <a href="#" class="absolute top-0 left-0 w-full h-full"><img src="./assets/images/pro-detail-1.jpg" alt="" class="w-full h-full object-cover"></a>
                                    <p class="absolute top-[10px] right-[10px] w-[40px] h-[40px] bg-[#d80027] text-white rounded-full flex items-center justify-center">15%</p>
                                    <button class="absolute top-[-60px] left-[10px] w-[40px] h-[40px] bg-[#76A021] text-white flex items-center justify-center rounded-full border-[1px] border-solid border-[#76A021] hover:bg-white hover:text-[#76A021]"><i class="fa-solid fa-cart-plus"></i></button>
                                </div>
                                <div class="p-[8px] md:p-[12px] lg:p-[16px]">
                                    <a href="#" class="text-[16px] font-semibold line-clamp-2 hover:text-[#76A021] transition-all duration-300 ease-linear mb-[8px]">Chăn ga khách sạn 1</a>
                                    <div class="md:flex items-center gap-[8px] lg:gap-[12px]">
                                        <p class="text-[#FF6347] text-[18px] font-semibold mb-[4px] md:mb-0">900.000đ</p>
                                        <p class="text-[14px] text-[#D3D3D3] line-through">1.000.000đ</p>
                                    </div>
                                    <!-- <p class="text-[#FF6347] text-[18px] font-semibold">{{ formatPrice(item.sizeAndPrice[0].price) }}</p> -->
                                    <div class="text-center lg:hidden mt-[12px]">
                                        <button class="bg-[#76A021] text-[14px] px-[10px] py-[8px] text-white">Thêm vào giỏ hàng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container px-[8px] md:px-[16px] 2xl:px-0 2xl:pb-[80px] lg:pb-[60px] md:pb-[40px] pb-[30px] 2xl:pt-[60px] lg:pt-[40px] md:pt-[30px] pt-[20px]">
            <div class="flex items-center justify-center gap-[12px] flex-col pb-[12px] md:pb-[16px] lg:pb-[20px] border-b-[1px] border-solid border-white">
                <img src="./assets/images/Logo-footer.png" alt="Err" class="max-w-[300px]">
                <div class="text-center">
                    <p class="uppercase md:text-[20px] lg:text-[24px] font-semibold text-white mb-[8px]">Công ty TNHH chăn ga gối đệm Hà Thành</p>
                    <p class="text-[14px] md:text-[16px] lg:text-[18px] italic text-[#FFD700] capitalize">Chính hãng - Uy tín - Giá cả phù hợp</p>
                </div>
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-[10px] md:gap-[20px] lg:gap-[30px] pt-[12px] md:pt-[16px] lg:pt-[20px]">
                <div class="">
                    <h3 class="title-footer relative uppercase md:text-[18px] lg:text-[20px] text-white font-bold pb-[8px] md:pb-[12px]">Thông tin liên hệ</h3>
                    <ul class="pt-[16px] md:pt-[20px]">
                        <li class="text-[14px] text-white font-normal mb-[4px]"><span class="font-semibold">Địa chỉ: </span>Thôn Ninh Xá, Ninh Sở, Thường Tín, Hà Nội</li>
                        <li class="text-[14px] text-white font-normal mb-[4px]"><span class="font-semibold">Hotline: </span>0243 6825426</li>
                        <li class="text-[14px] text-white font-normal"><span class="font-semibold">Email: </span>hathanhijsc@gmail.com</li>
                    </ul>
                </div>
                <div class="">
                    <h3 class="title-footer relative uppercase md:text-[18px] lg:text-[20px] text-white font-bold pb-[8px] md:pb-[12px]">Danh mục sản phẩm</h3>
                    <ul class="pt-[16px] md:pt-[20px]">
                        <li class="uppercase text-[14px] text-white font-semibold mb-[4px]">Chăn ga cao cấp khách sạn</li>
                        <li class="uppercase text-[14px] text-white font-semibold mb-[4px]">Chăn ga gia đình</li>
                        <li class="uppercase text-[14px] text-white font-semibold">nệm</li>
                    </ul>
                </div>
                <div class="">
                    <h3 class="title-footer relative uppercase md:text-[18px] lg:text-[20px] text-white font-bold pb-[8px] md:pb-[12px]">Chính sách</h3>
                    <ul class="pt-[16px] md:pt-[20px]">
                        <li class="text-[14px] text-white font-normal mb-[4px]">Chính sách giao hàng</li>
                    </ul>
                </div>
                <div class="">
                    <h3 class="title-footer relative uppercase md:text-[18px] lg:text-[20px] text-white font-bold pb-[8px] md:pb-[12px]">Fanpage</h3>
                    <div class="pt-[16px] md:pt-[20px]">
                        <!-- <iframe src="https://www.facebook.com/Changagoidem2021/?ref=embed_page" frameborder="0" class="w-full"></iframe> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright py-[8px] relative text-white text-center">
            @Copyright 2024 by G9 Myl0v3
        </div>
    </footer>
    <script src="./assets/js/swiper-bundle.min.js" defer></script>
    <script src="./assets/js/jquery.min.js"></script>
    <script src="./assets/js/jquery.fancybox.min.js"></script>
    <script src="./assets/js/slide.js" defer></script>
    <script src="./assets/js/main.js" defer></script>
</body>
</html>